* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Levelzero.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.incident {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 30px;
}

video {
    width: 100%;
    max-width: 600px; /* controla tamanho no desktop */
    height: auto;     /* mantém proporção */
    border: 2px solid rgba(255,255,255,0.2);
}

.but {
    font-family: "Agdasima", sans-serif;
    font-size: 30px;
    padding: 8px 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: solid 1px rgb(71, 70, 70);
    cursor: pointer;
    margin-top: 40px;
    transition: 0.3s;
}

.but:hover {
    color: red;
    transform: scale(1.05);
}