* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("The DEFINITIVE Dark Rooms.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.uau {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.uau .alt {
    height: 350px;
    max-width: 90%;
    border-radius: 10px;
}

.uau .dog {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    animation: flutuation 2s ease-in-out infinite alternate;
    position: relative;
    margin-top: 200px;
}

.reto {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 95%;
    max-width: 1200px;
    height: 220px;

    background-color: black;
    border: 3px solid white;
    border-radius: 15px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.angel {
    text-align: center;
    color: rgb(0, 255, 255);
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.text {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.help {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-bottom: 40px;
}

.down {
    margin-top: auto;
}

button {
    font-family: "Sedan SC", serif;
    padding: 8px 18px;
    border-radius: 5px;
    border-bottom: solid 5px black;
    background-color: rgb(206, 206, 206);
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

button:hover {
    background-color: red;
    color: white;
    transform: scale(1.05);
}

@keyframes flutuation {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 30px;
    }
}

@media screen and (max-width: 800px) {

    .uau .alt {
        height: 360px;
    }

    .uau .dog {
        height: 80px;
        width: 80px;
        margin-top: 200px;
    }

    .reto {
        height: 250px;
        padding: 15px;
    }

    button {
        height: 45px;
        width: 100px;
        font-size: 16px;
    }

    .angel {
        font-size: 18px;
    }
}