body {
    background-color: black;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.uau {
    position: relative;
    width: 100%;
    height: 100vh;
}

.reto {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 1200px;
    height: 250px;
    background-color: black;
    border: solid white 3px;
    border-radius: 10px;
    text-align: center;
}

.normalMan {
    color: white;
}

.help {
    position: absolute;
    bottom: 40px;
    right: 100px;
}

#dialButton {
    font-family: "Sedan SC", serif;
    padding: 7px;
    border-radius: 5px;
    border-bottom: solid 5px black;
    background-color: rgb(206, 206, 206);
    font-size: 15px;
    cursor: pointer;
}

#dialButton:hover {
    background-color: red;
    color: white;
}

.dark,
.dark2,
.dark3,
.dark4,
.dark5 {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 0;
    cursor: pointer;
}

.dark {
    width: 1.5vw;
    height: 1.5vw;
    top: 10vh;
    left: 5vw;
}

.dark2 {
    width: 2vw;
    height: 2vw;
    top: 25vh;
    left: 30vw;
}

.dark3 {
    width: 1.5vw;
    height: 1.5vw;
    top: 40vh;
    left: 60vw;
}

.dark4 {
    width: 2.5vw;
    height: 2.5vw;
    top: 55vh;
    left: 75vw;
}

.dark5 {
    width: 3vw;
    height: 3vw;
    top: 70vh;
    left: 85vw;
}