* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("elevator.jpg");
    background-size: 110% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

#dialButton {
    font-family: "Sedan SC", serif;
    padding: 7px 15px;
    border-radius: 5px;
    border-bottom: solid 5px black;
    background-color: rgb(206, 206, 206);
    font-size: 15px;
    cursor: pointer;
}

#dialButton:hover {
    background-color: red;
    color: white;
}

.principal {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.reto {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 1200px;
    height: 220px;
    background-color: black;
    border: solid white 3px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.normalMan {
    color: white;
}

.help {
    position: fixed;
    bottom: 40px;
    right: 100px;
}

.span {
    color: orange;
}

.tabela {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(145, 145, 145);
    border: solid 1px black;
    border-radius: 5px;
    width: 230px;
    min-height: 280px;
    padding: 25px 15px;
    box-shadow: 3px 3px 20px black, -3px 0px 20px black;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    justify-items: center;
    grid-auto-flow: row;
}

.number,
.andar {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: solid 1px rgb(172, 172, 172);
    font-size: 20px;
    box-shadow: 0.5px 0.5px 20px black, -0.5px 0px 20px black;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    display: none;
}

.number {
    background-color: rgb(207, 207, 207);
}

.andar {
    background-color: rgb(194, 165, 0);
}

.text {
    color: white;
    text-align: center;
}

.gold {
    color: rgb(255, 196, 0);
    margin-left: 10px;
}

.messageBox {
    position: fixed;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1px white;
    width: 300px;
    max-width: 90%;
    border-radius: 10px;
    background-color: black;
    display: flex;
    opacity: 0;
    transition: all 0.4s ease;
    padding: 10px;
}

.messageBox.visible {
    bottom: 40px;
    opacity: 1;
}

.messageBox.hidden {
    bottom: -120px;
    opacity: 0;
}

.messageBox img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.tabela.again {
    row-gap: 10px;
}