body {
    animation: fade 8s infinite alternate ease-in-out;
}

@keyframes fade {
    0% {
        background-color: gray;
    }
    20% {
        background-color: rgb(99, 99, 99);
    }
    40% {
        background-color: rgb(58, 58, 58);
    }
    60% {
        background-color: rgb(51, 51, 51);
    }
    80% {
        background-color: black;
    }
    100% {
        background-color: gray;
    }
}
.screen {
    text-align: center;
    margin-top: 200px;
    font-family: "Jersey 10", sans-serif;
    font-size: 80px;
    text-shadow: 2px 2px 20px white;
    animation: flutuation 2s ease-in-out alternate infinite;
    position: relative;
}
@keyframes flutuation {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 30px;
    }
}
p {
    text-align: center;
    margin-top: 10px;
    font-family: "Jersey 10", sans-serif;
    text-shadow: 2px 2px 10px white;
    font-size: 20px
}
div {
    text-align: center;
}
button {
    height: 50px;
    width: 90px;
    border-radius: 10px;
    border: white solid 1px;
    background-color: black;
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 20px;
    margin-top: 60px;
    cursor: pointer;
}
button:hover {
    color: red;
    transform: scale(1.1);
}