* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("The DEFINITIVE Dark Rooms.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
}

.title {
    color: red;
    background-color: black;
    border: solid 1px red;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 25px;
    padding: 10px 20px;
    font-family: "Sedan SC", serif;
}

.text {
    max-width: 800px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    line-height: 1.6;
}

.angel {
    max-width: 800px;
    text-align: center;
    color: rgb(0, 255, 255);
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.oi {
    margin-top: 40px;
}

button {
    font-family: "Sedan SC", serif;
    padding: 10px 25px;
    border-radius: 5px;
    border-bottom: solid 5px black;
    background-color: rgb(148, 146, 146);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: red;
    color: white;
    transform: scale(1.05);
}