body {
    background-image: url("The\ DEFINITIVE\ Dark\ Rooms.jpg");
    background-size: contain;
    background-size: 100% 100%;
    width: 95vw;
    height: 97vh;
}
.word {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 6px black;
}
.dark {
    color: rgb(177, 1, 177);
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 5px 5px 8px black;
}
 .div button {
    background-color: black;
    height: 50px;
    width: 110px;
    color: white;
    margin-top: 30px;
    border: solid 1px white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}
.div {
    text-align: center;
}
button:hover {
    color: red;
}
@media screen and (min-width: 0) and (max-width: 400px) {
    body {
        height: 135vh;
    }
}
